<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<!-- validationMess är bara en förberedelse för ifall man vill att felmeddelandena ska dyka upp
     på annat sätt en via alert rutor -->
<h2 th:text="${validationMess}">Fill Out Form To Update</h2>

<div>
    <!-- Visa info om Customer här-->
    <table>
        <tbody>
        <tr>
            <td class="miniHeader" th:text="'Booking nr: ' + ${oldBookingId}"></td>
        </tr>
        <tr>
            <td th:text="'First Name: ' + ${custFirstName}"></td>
        </tr>
        <tr>
            <td th:text="'Last Name: ' + ${custLastName}"></td>
        </tr>
        <tr>
            <td th:text="'Email: ' + ${custEmail}"></td>
        </tr>
        <tr>
            <td th:text="'Phone Number: ' + ${custPhoneNr}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div style="border: 1px solid #000; padding: 10px;">
    <h1>Search available rooms</h1>
    <form action="/Booking/update/availableRooms" method="get">

        <input type="hidden" name="id" th:value="${oldBookingId}">
        <input type="hidden" name="custId" th:value="${custId}">

        <label for="persons">Number of beds (1-2):</label>
        <input type="number" id="persons" name="beds" min="1" max="2" required><br>

        <label for="extraBeds">Number of extra beds (0-2):</label>
        <input type="number" id="extraBeds" name="extraBeds" min="0" max="2" required><br>

        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" required><br>

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" required><br>

        <button type="submit">Search available rooms</button>
    </form>
</div>


<br>
<div th:text="${error} ? ${error} : 'Book a room'"></div>
<br>
<table border="1">
    <thead>
    <th th:text="${title}"></th>
    <th>Email</th>
    </thead>
    <tbody>
    <tr th:if="${listOfRooms.isEmpty()}">
        <td colspan="2">No available rooms for selected dates make a new search</td>
    </tr>

    <tr th:each="room : ${listOfRooms}">
        <form action="/Booking/update/BookingSuccess" method="post">

            <input type="hidden" name="oldBookingId" th:value="${oldBookingId}">
            <input type="hidden" name="extraBeds" th:value="${extraBeds}">

            <td th:text="'room size: ' + ${room.size} + ' id:' + ${room.id}"></td>
            <input type="hidden" name="email" th:value="${custEmail}">
            <td th:text="${custEmail}"></td>
            <td>
                <label for="startDateB">Start Date:</label>
                <input type="date" id="startDateB" name="startDateB" th:value="${start}" required readonly>
            </td>
            <td>
                <label for="endDateB">End Date:</label>
                <input type="date" id="endDateB" name="endDateB" th:value="${end}" required readonly>
            </td>
            <td>
                <input type="hidden" name="roomId" th:value="${room.id}">
                <button type="submit" th:value="${buttonText}">Update booking</button>
            </td>
        </form>
    </tr>

    </tbody>
</table>
<br>

<a href="/">
    <button>Homepage</button>
</a>

<!-- Available rooms -->

<script>
    //Kolla att startdatum är innan slutdatum och tvärtom
    //Kolla att datum inte är bakåt i tiden.
    function validateForm() {

        return true;
    }
</script>
</body>
</html>
