<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Login</title>
    <style>
        .container {
            border: solid black;
            width: 400px;
            height: 225px;
        }

    </style>
</head>

<body>
<div class="container mt-5 pt-4 pb-5">
    <div class="d-flex justify-content-center align-items-center">
        <form th:action="@{/forgottenPW}" method="post">
            <h2 class="text-center">Reset Password</h2>
            <div class="d-flex justify-content-center pt-2 m-3">
                <input type="text" name="username" placeholder="Email">
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-secondary">Send link</button>
            </div>

        </form>
    </div>
</div>


</body>

</html>
