<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Title</title>
</head>

<body class="container">
<a href="/" class="link-dark" style="text-decoration: none; color: #333333">
    <h1>Booking</h1>
</a>
<div class="container">
    <h2 th:text="${header}">Contract Customers</h2>
    <div id="tableOfContractCustomers" th:unless="${#lists.isEmpty(allContractCustomers)}">
        <table class="table">
            <tbody>
            <tr th:each="conCust : ${allContractCustomers}">
                <th>Company name</th>
                <td th:text="${conCust.companyName}"></td>
            </tr>
            <tr th:each="conCust : ${allContractCustomers}">
                <th>Contact Title</th>
                <td th:text="${conCust.contactTitle}"></td>
            </tr>
            <tr th:each="conCust : ${allContractCustomers}">
                <th>Contact Name</th>
                <td th:text="${conCust.contactName}"></td>
            </tr>
            <tr th:each="conCust : ${allContractCustomers}">
                <th>Country</th>
                <td th:text="${conCust.country}"></td>
            </tr>
            <tr th:each="conCust : ${allContractCustomers}">
                <th>City</th>
                <td th:text="${conCust.city}"></td>
            </tr>
            <tr th:each="conCust : ${allContractCustomers}">
                <th>Street Address</th>
                <td th:text="${conCust.streetAddress}"></td>
            </tr>
            <tr th:each="conCust : ${allContractCustomers}">
                <th>Postal Code</th>
                <td th:text="${conCust.postalCode}"></td>
            </tr>
            <tr th:each="conCust : ${allContractCustomers}">
                <th>Phone</th>
                <td th:text="${conCust.phone}"></td>
            </tr>
            <tr th:each="conCust : ${allContractCustomers}">
                <th>Fax</th>
                <td th:text="${conCust.fax}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</body>

</html>
